.register,
.login {
  flex: 1;
}

.title {
  font-size: 2.5rem;
}
.authForm {
  margin-top: 2rem;
  width: 100%;
  label {
    width: 100%;
    font-size: 2rem;
  }
  input {
    font-size: 1.8rem;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    padding: 0.8rem;
    border-radius: 6px;
    border: none;
    background-color: #d2dfff;
  }
  button[type='submit'] {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #ed6e56;
    cursor: pointer;
  }
}
